#testimonials {
    min-height: calc(100vh - 91px); /* Ajuste de altura mínima */
    display: flex; /* Flexbox para centralização */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Centralizar horizontalmente */
    gap: 48px; /* Espaçamento entre elementos */
    text-align: center; /* Centralizar texto */
}

#testimonial_chef {
    max-width: 100%; /* Garantir que a imagem não ultrapasse a largura da tela */
    height: auto; /* Manter proporção da imagem */
}

#testimonials .section-subtitle {
    font-size: 3rem; /* Tamanho da fonte do subtítulo */
}

#testimonials_content {
    width: 50%; /* Definir a largura do conteúdo de depoimentos */
    text-align: center; /* Centralizar texto */
}

#feedbacks {
    display: flex; /* Flexbox para alinhar itens */
    flex-direction: column; /* Alinhar itens em coluna */
    gap: 20px; /* Espaçamento entre os feedbacks */
    margin-bottom: 40px; /* Margem inferior */
}

.feedback {
    display: flex; /* Flexbox para alinhar itens */
    align-items: center; /* Centralizar itens verticalmente */
    gap: 20px; /* Espaçamento entre elementos */
    background-color: var(--color-primary-1); /* Cor de fundo */
    padding: 12px; /* Espaçamento interno */
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 40px; /* Margem superior */
}

.feedback-avatar {
    width: 100px; /* Largura do avatar */
    height: 100px; /* Altura do avatar */
    border-radius: 70%; /* Tornar avatar circular */
    object-fit: cover; /* Garantir que a imagem cubra o contêiner */
}

.feedback-avatar-masculino {
    width: 100px; /* Largura do avatar */
    height: 190px; /* Altura do avatar */
    border-radius: 50%; /* Tornar avatar circular */
    object-fit: cover; /* Garantir que a imagem cubra o contêiner */
}

.feedback-content {
    display: flex; /* Flexbox para alinhar itens */
    flex-direction: column; /* Itens em coluna */
    width: 100%; /* Largura total */
}

.feedback-content p {
    display: flex; /* Flexbox para alinhar itens */
    justify-content: space-between; /* Espaçar itens igualmente */
    align-items: center; /* Centralizar itens verticalmente */
    margin: 0; /* Remover margem */
}

.feedback-content .stars {
    color: #e9a209; /* Cor das estrelas */
    display: flex; /* Flexbox para alinhar estrelas */
    gap: 5px; /* Espaçamento entre estrelas */
}

.feedback-content .comment {
    margin-top: 10px; /* Margem superior para o comentário */
    text-align: left; /* Alinhamento do texto à esquerda */
}

@media screen and (max-width: 1170px) {
    #testimonials {
        flex-direction: column;
    }
    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }
    #testimonial_chef {
        max-width: 100%;
        height: auto; /* Manter a proporção da imagem */
        margin: 0 auto; /* Centralizar a imagem */
    }
    #testimonials_content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        text-align: center;
        font-size: 2.5rem;
    }
    .feedback {
        flex-direction: column;
    }
}